theme "tokyo-night"
default_layout "compact"
mouse_mode true
ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds {
    normal {
        bind "Ctrl o" { HalfPageScrollUp; }
        bind "Ctrl k" { HalfPageScrollDown; }
    }
}